@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #d5d5d5;
}

/* Navigation
--------------------------------------------- */
#nav {
  background: #006699;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  transition: background .3s;
}

.nav-link:hover {
  background: #023955;
}

.active {
  background: #023955;
}

/* Main
--------------------------------------------- */
#main {
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}

/* content
--------------------------------------------- */
.heading-lv1 {

}

/* Footer
--------------------------------------------- */
#footer {
  background: #006699;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
